<div class="title">
  <h3>Entrez votre code pin</h3>
</div>

<mat-form-field appearance="outline">
  <mat-label>Code PIN</mat-label>
  <input matInput type="text" [formControl]="pinControl" maxlength="4" />
</mat-form-field>
<mat-grid-list cols="3" rowHeight="50px" gutterSize="12px">
  @for (t of tiles; track t) {
    <mat-grid-tile>
      @if (typeof t === 'string') {
        <button matIconButton (click)="handleClick(t)">
          <mat-icon>{{ t }}</mat-icon>
        </button>
      } @else {
        <button matButton="tonal" (click)="handleClick(t)">{{ t }}</button>
      }
    </mat-grid-tile>
  }
</mat-grid-list>
