@if (customers().length === 0 || (customers().length === 1 && customers()[0].cards.length === 0)) {
  <h2>Aucun Client Enregistré</h2>
  <p>Veuillez enregistrer au moins un nouvelle carte pour commencer</p>
  <br />
  <button matButton="filled" routerLink="/card-list">Accéder à la liste de carte</button>
} @else {
  <h2>Merci de sélectionnez votre carte</h2>
  <mat-accordion>
    @for (customer of customers(); track customer.uuid) {
      <mat-expansion-panel>
        <mat-expansion-panel-header>
          <mat-panel-title>{{ customer.fullname }}</mat-panel-title>
        </mat-expansion-panel-header>
        <mat-list>
          @for (card of customer.cards; track card.cardNumber) {
            <mat-divider></mat-divider>
            <mat-list-item>
              <mat-card appearance="raised">
                <mat-card-header>
                  <mat-card-title>{{ card.bank }}</mat-card-title>
                  <mat-card-subtitle>{{ card.type }}</mat-card-subtitle>
                </mat-card-header>
                <mat-card-content>
                  <p>{{ card.cardNumber }}</p>
                </mat-card-content>
                <mat-card-actions>
                  <button matButton (click)="chooseCard(card)">Choisir</button>
                </mat-card-actions>
              </mat-card>
            </mat-list-item>
          }
        </mat-list>
      </mat-expansion-panel>
    }
  </mat-accordion>
}
