:host {
  border: 1px solid var(--mat-sys-outline-variant);
  border-radius: var(--mat-sys-corner-large);
  background-color: var(--mat-sys-surface-container-low);
  display: block;
  padding: 2rem 3.33rem;
  box-shadow: var(--mat-sys-level3);

  .error-msg {
    color: var(--mat-sys-error);
    text-align: center;
  }
}
