@switch (currentStep) {
  @case (cardStep.LANDING) {
    <app-cards-landing
      [customersList]="customers()"
      (toCustomerAdd)="changeStep(cardStep.CUSTOMER_ADDITION)"
      (toCardAdd)="changeStep(cardStep.CARD_ADDITION, $event)"
    ></app-cards-landing>
  }
  @case (cardStep.CUSTOMER_ADDITION) {
    <app-customer-form
      [customersList]="customers()"
      (onSubmit)="updateCustomerList($event)"
      (onReset)="changeStep(cardStep.LANDING)"
    ></app-customer-form>
  }
  @case (cardStep.CARD_ADDITION) {
    <app-card-form
      [currentCustomer]="currentCustomer!"
      [customerList]="customers()"
      (onSubmit)="updateCustomerList($event)"
      (onReset)="changeStep(cardStep.LANDING)"
    ></app-card-form>
  }
}
