<div class="menu-container">
  <section class="menu-section">
    <div class="fields">
      <h2>Carte</h2>
      <p class="label-text">
        Solde:<br />
        <span class="display-text">{{ currentCard().balance | currency: 'EUR' }}</span>
      </p>
      <mat-card appearance="filled" class="bank-card" [class]="currentCard().bank">
        <mat-card-header>
          <img mat-card-sm-image [src]="getLogo(currentCard().bank)" />
          <img mat-card-sm-image [src]="getLogo(currentCard().type)" />
        </mat-card-header>
        <mat-card-content>
          {{ obfuscateCardNbr(currentCard().cardNumber) }}
          <span>{{ currentCustomer().fullname }}</span>
        </mat-card-content>
      </mat-card>
    </div>
    <button matButton class="warn-btn-palette" (click)="leaveMenu()">Quitter</button>
  </section>
  <mat-divider vertical></mat-divider>

  <section class="menu-section">
    <div class="fields">
      <h2>Dépôt/Retrait</h2>
      <mat-grid-list cols="3" rowHeight="5rem">
        @for (p of presets; track p) {
          <mat-grid-tile>
            <button matButton="tonal" (click)="applyPreset(p)">{{ p | currency: 'EUR' }}</button>
          </mat-grid-tile>
        }
      </mat-grid-list>
      <mat-divider class="full-width"></mat-divider>
      <mat-tab-group dynamicHeight>
        <mat-tab label="Dépôt">
          <div class="fields">
            <div class="form-field">
              <mat-form-field appearance="outline">
                <mat-label>Montant</mat-label>
                <input
                  matInput
                  type="number"
                  [formControl]="deposit"
                  step="5"
                  min="5"
                  placeholder="50"
                />
                <mat-icon matIconSuffix>euro</mat-icon>
                @if (deposit.hasError('required')) {
                  <mat-error>Veuillez entrer un montant</mat-error>
                } @else if (deposit.hasError('min')) {
                  <mat-error>
                    Le montant est inférieur à <b>{{ 5 | currency: 'EUR' }}</b>
                  </mat-error>
                } @else if (deposit.hasError('isMultiple')) {
                  <mat-error> Le montant n'est pas multiple de<b>5</b> </mat-error>
                }
              </mat-form-field>
            </div>
            <div class="form-field">
              <button matButton="filled" [disabled]="deposit.invalid" (click)="handleDeposit()">
                Déposer
              </button>
              <button matButton="text" class="warn-btn-palette" (click)="resetField(deposit)">
                Annuler
              </button>
            </div>
          </div>
        </mat-tab>
        <mat-tab label="Retrait">
          <div class="fields">
            <mat-form-field appearance="outline">
              <mat-label>Montant</mat-label>
              <input
                matInput
                [formControl]="withdrawal"
                type="number"
                min="5"
                step="5"
                placeholder="50"
              />
              <mat-icon matIconSuffix>euro</mat-icon>
              @if (withdrawal.hasError('required')) {
                <mat-error>Veuillez entrer un montant</mat-error>
              } @else if (withdrawal.hasError('min')) {
                <mat-error
                  >Le montant est inférieur à <b>{{ 5 | currency: 'EUR' }}</b></mat-error
                >
              } @else if (withdrawal.hasError('max')) {
                <mat-error
                  >Le montant entré est supérieur à
                  <strong>{{ currentCard().balance | currency: 'EUR' }}</strong></mat-error
                >
              } @else if (withdrawal.hasError('isMultiple')) {
                <mat-error>Le montant entré n'est pas multiple de <strong>5</strong></mat-error>
              }
            </mat-form-field>
            <div class="form-field">
              <button
                matButton="filled"
                (click)="handleWithdrawl()"
                [disabled]="withdrawal.invalid"
              >
                Retirer
              </button>
              <button matButton="text" class="warn-btn-palette" (click)="resetField(withdrawal)">
                Annuler
              </button>
            </div>
          </div>
        </mat-tab>
      </mat-tab-group>
    </div>
  </section>
</div>
