@use '../../../../mixins';

.menu-container {
  display: grid;
  grid-template-columns: 1fr 2rem 1fr;
  width: 50vw;
  height: 100%;

  mat-divider {
    margin: 0 auto;
  }

  & > div {
    @include mixins.flex(column, space-between);
  }
}

.display-text {
  font: var(--mat-sys-display-large);
}

.label-text {
  font: var(--mat-sys-label-large);
}

mat-tab-group .fields {
  margin-top: 1rem;
}
