@use '@angular/material' as mat;

:host {
  display: inline-block;
  width: 100%;

  @include mat.list-overrides(
    (
      list-item-one-line-container-height: auto,
      list-item-two-line-container-height: auto,
      list-item-three-line-container-height: auto,
    )
  );
  @include mat.dialog-overrides(
    (
      container-elevation-shadow: var(--mat-sys-level5),
    )
  );
}

mat-card[appearance='outlined'] {
  margin-bottom: 1rem;
}

.btn-fixed {
  position: fixed;
  bottom: 0;
  right: 0;
  margin: 1rem;
  z-index: 1;
}
