@switch (currentStep) {
  @case (atmStep.LANDING) {
    <app-atm-landing (selectCard)="changeStep(atmStep.CARD_SELECTION)"></app-atm-landing>
  }
  @case (atmStep.CARD_SELECTION) {
    <app-atm-card-selection
      class="full-width"
      [customers]="customers()"
      (cardChosen)="handleSelectCard($event)"
    ></app-atm-card-selection>
  }
  @case (atmStep.PIN_PAD) {
    <app-pad (validatePin)="handlePin($event)"></app-pad>
    @if (erroMessage) {
      <p class="error-msg">{{ erroMessage }}</p>
    }
  }
  @case (atmStep.ACTIONS_MENU) {
    @if (selectedCard) {
      <app-atm-action-menu
        (leftMenu)="changeStep(atmStep.LANDING)"
        (customersUpdate)="handleCustomersUpdate($event)"
        [customersList]="customers()"
        [currentCustomer]="currentCustomer!"
        [currentCard]="selectedCard"
      ></app-atm-action-menu>
    }
  }
}
